USE [DMS_KNL]
GO
/****** Object:  Table [dbo].[Dealers]    Script Date: 12/15/2025 3:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dealers](
	[UserName] [nvarchar](50) NULL,
	[Location] [nvarchar](100) NULL,
	[FirstName] [nvarchar](100) NULL,
	[EmailId] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[UserType] [nvarchar](50) NULL,
	[Place] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[RegionName] [nvarchar](100) NULL,
	[SatelliteUser] [nvarchar](10) NULL,
	[ActiveUser] [nvarchar](10) NULL,
	[PriceList] [nvarchar](50) NULL,
	[PriceGroup] [nvarchar](50) NULL,
	[PanNumber] [nvarchar](50) NULL,
	[CompanyCode] [nvarchar](50) NULL,
	[SalesOrg] [nvarchar](50) NULL,
	[GstNumber] [nvarchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[StateCode] [nvarchar](50) NULL,
	[GstCode] [nvarchar](50) NULL,
	[PostalCode] [nvarchar](50) NULL,
	[CustType] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[plantName] [varchar](100) NULL
) ON [PRIMARY]
GO
