USE [DMS_KNL]
GO
/****** Object:  Table [dbo].[materials]    Script Date: 12/15/2025 3:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[materials](
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[KG_Price] [decimal](18, 2) NULL,
	[Packaing_Cost] [decimal](18, 2) NULL,
	[SAP_Unit] [nvarchar](50) NULL,
	[WgtUnit] [nvarchar](50) NULL,
	[Gross_Weight] [decimal](18, 3) NULL,
	[Net_Weight] [decimal](18, 3) NULL,
	[Plant] [nvarchar](50) NULL,
	[Dewas_ready_price] [decimal](18, 2) NULL,
	[Dewas_forward_price] [decimal](18, 2) NULL,
	[JBGL_price] [decimal](18, 2) NULL,
	[UP_Price] [decimal](18, 2) NULL,
	[Primary_category] [nvarchar](50) NULL,
	[MaterialType] [nvarchar](50) NULL,
	[Secondary_Category] [nvarchar](50) NULL,
	[AcceptBulkOrder] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[materials] ADD  CONSTRAINT [DF_materials_AcceptBulkOrder]  DEFAULT ('false') FOR [AcceptBulkOrder]
GO
