USE [DMS_KNL]
GO
/****** Object:  Table [dbo].[indent_Table]    Script Date: 12/15/2025 3:27:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[indent_Table](
	[Vbeln] [nchar](10) NULL,
	[Posnr] [nchar](10) NULL,
	[Matnr] [nchar](10) NULL,
	[Kwmeng] [nchar](10) NULL,
	[Vrkme] [nchar](10) NULL,
	[DI] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[DealerCode] [varchar](50) NULL,
	[CreationDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[indent_Table] ([Vbeln], [Posnr], [Matnr], [Kwmeng], [Vrkme], [DI], [Status], [DealerCode], [CreationDate]) VALUES (N'869496    ', N'000010    ', N'44001420  ', N'65        ', N'EA        ', N'DI-3', N'Fully Assigned', N'102115', CAST(N'2025-12-13T17:45:14.807' AS DateTime))
INSERT [dbo].[indent_Table] ([Vbeln], [Posnr], [Matnr], [Kwmeng], [Vrkme], [DI], [Status], [DealerCode], [CreationDate]) VALUES (N'869494    ', N'000010    ', N'44001420  ', N'35        ', N'EA        ', N'DI-3', N'Fully Assigned', N'102115', CAST(N'2025-12-13T17:45:12.370' AS DateTime))
INSERT [dbo].[indent_Table] ([Vbeln], [Posnr], [Matnr], [Kwmeng], [Vrkme], [DI], [Status], [DealerCode], [CreationDate]) VALUES (N'869492    ', N'000010    ', N'44001420  ', N'100       ', N'EA        ', N'DI-2', N'Fully Assigned', N'102115', CAST(N'2025-12-13T17:44:21.880' AS DateTime))
GO
ALTER TABLE [dbo].[indent_Table] ADD  CONSTRAINT [DF_IndentTable_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
